<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="OurCSharp.OurForm.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <OurCSharp.OurForm.Properties.Settings>
      <setting name="ClsBttnNrmlDrwCrcl" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ClsBttnNrmlDrwCrclBrdr" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ClsBttnNrmlDrwBx" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ClsBttnNrmlDrwBxBrdr" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ClsBttnNrmlCrclClr" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="ClsBttnNrmlCrclBrdrClr" serializeAs="String">
        <value>75, 75, 75</value>
      </setting>
      <setting name="ClsBttnNrmlBxClr" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="ClsBttnNrmlBxBrdrClr" serializeAs="String">
        <value>75, 75, 75</value>
      </setting>
      <setting name="ClsBttnHvrdDrwCrcl" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ClsBttnHvrdDrwCrclBrdr" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ClsBttnHvrdDrwBx" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ClsBttnHvrdDrwBxBrdr" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ClsBttnHvrdCrclClr" serializeAs="String">
        <value>150, 0, 0</value>
      </setting>
      <setting name="ClsBttnHvrdCrclBrdrClr" serializeAs="String">
        <value>75, 75, 75</value>
      </setting>
      <setting name="ClsBttnHvrdBxClr" serializeAs="String">
        <value>150, 0, 0</value>
      </setting>
      <setting name="ClsBttnHvrdBxBrdrClr" serializeAs="String">
        <value>75, 75, 75</value>
      </setting>
      <setting name="ClsBttnClckdDrwCrcl" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ClsBttnClckdDrwCrclBrdr" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ClsBttnClckdDrwBx" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ClsBttnClckdDrwBxBrdr" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ClsBttnClckdCrclClr" serializeAs="String">
        <value>100, 0, 0</value>
      </setting>
      <setting name="ClsBttnClckdCrclBrdrClr" serializeAs="String">
        <value>75, 75, 75</value>
      </setting>
      <setting name="ClsBttnClckdBxClr" serializeAs="String">
        <value>100, 0, 0</value>
      </setting>
      <setting name="ClsBttnClckdBxBrdrClr" serializeAs="String">
        <value>75, 75, 75</value>
      </setting>
      <setting name="ClsBttnDsbldDrwCrcl" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ClsBttnDsbldDrwCrclBrdr" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ClsBttnDsbldDrwBx" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ClsBttnDsbldDrwBxBrdr" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ClsBttnDsbldCrclClr" serializeAs="String">
        <value>100, 0, 0</value>
      </setting>
      <setting name="ClsBttnDsbldCrclBrdrClr" serializeAs="String">
        <value>75, 75, 75</value>
      </setting>
      <setting name="ClsBttnDsbldBxClr" serializeAs="String">
        <value>100, 0, 0</value>
      </setting>
      <setting name="ClsBttnDsbldBxBrdrClr" serializeAs="String">
        <value>75, 75, 75</value>
      </setting>
      <setting name="MxmzBttnNrmlDrwCrcl" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MxmzBttnNrmlDrwCrclBrdr" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MxmzBttnNrmlDrwBx" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MxmzBttnNrmlDrwBxBrdr" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MxmzBttnNrmlCrclClr" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="MxmzBttnNrmlCrclBrdrClr" serializeAs="String">
        <value>75, 75, 75</value>
      </setting>
      <setting name="MxmzBttnNrmlBxClr" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="MxmzBttnNrmlBxBrdrClr" serializeAs="String">
        <value>75, 75, 75</value>
      </setting>
      <setting name="MxmzBttnHvrdDrwCrcl" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MxmzBttnHvrdDrwCrclBrdr" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MxmzBttnHvrdDrwBx" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MxmzBttnHvrdDrwBxBrdr" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MxmzBttnHvrdCrclClr" serializeAs="String">
        <value>150, 150, 150</value>
      </setting>
      <setting name="MxmzBttnHvrdCrclBrdrClr" serializeAs="String">
        <value>75, 75, 75</value>
      </setting>
      <setting name="MxmzBttnHvrdBxClr" serializeAs="String">
        <value>150, 150, 150</value>
      </setting>
      <setting name="MxmzBttnHvrdBxBrdrClr" serializeAs="String">
        <value>75, 75, 75</value>
      </setting>
      <setting name="MxmzBttnClckdDrwCrcl" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MxmzBttnClckdDrwCrclBrdr" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MxmzBttnClckdDrwBx" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MxmzBttnClckdDrwBxBrdr" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MxmzBttnClckdCrclClr" serializeAs="String">
        <value>100, 100, 100</value>
      </setting>
      <setting name="MxmzBttnClckdCrclBrdrClr" serializeAs="String">
        <value>75, 75, 75</value>
      </setting>
      <setting name="MxmzBttnClckdBxClr" serializeAs="String">
        <value>100, 100, 100</value>
      </setting>
      <setting name="MxmzBttnClckdBxBrdrClr" serializeAs="String">
        <value>75, 75, 75</value>
      </setting>
      <setting name="MxmzBttnDsbldDrwCrcl" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MxmzBttnDsbldDrwCrclBrdr" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MxmzBttnDsbldDrwBx" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MxmzBttnDsbldDrwBxBrdr" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MxmzBttnDsbldCrclClr" serializeAs="String">
        <value>100, 100, 100</value>
      </setting>
      <setting name="MxmzBttnDsbldCrclBrdrClr" serializeAs="String">
        <value>75, 75, 75</value>
      </setting>
      <setting name="MxmzBttnDsbldBxClr" serializeAs="String">
        <value>100, 100, 100</value>
      </setting>
      <setting name="MxmzBttnDsbldBxBrdrClr" serializeAs="String">
        <value>75, 75, 75</value>
      </setting>
      <setting name="MnmzBttnNrmlDrwCrcl" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MnmzBttnNrmlDrwCrclBrdr" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MnmzBttnNrmlDrwBx" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MnmzBttnNrmlDrwBxBrdr" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MnmzBttnNrmlCrclClr" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="MnmzBttnNrmlCrclBrdrClr" serializeAs="String">
        <value>75, 75, 75</value>
      </setting>
      <setting name="MnmzBttnNrmlBxClr" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="MnmzBttnNrmlBxBrdrClr" serializeAs="String">
        <value>75, 75, 75</value>
      </setting>
      <setting name="MnmzBttnHvrdDrwCrcl" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MnmzBttnHvrdDrwCrclBrdr" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MnmzBttnHvrdDrwBx" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MnmzBttnHvrdDrwBxBrdr" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MnmzBttnHvrdCrclClr" serializeAs="String">
        <value>150, 150, 150</value>
      </setting>
      <setting name="MnmzBttnHvrdCrclBrdrClr" serializeAs="String">
        <value>75, 75, 75</value>
      </setting>
      <setting name="MnmzBttnHvrdBxClr" serializeAs="String">
        <value>150, 150, 150</value>
      </setting>
      <setting name="MnmzBttnHvrdBxBrdrClr" serializeAs="String">
        <value>75, 75, 75</value>
      </setting>
      <setting name="MnmzBttnClckdDrwCrcl" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MnmzBttnClckdDrwCrclBrdr" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MnmzBttnClckdDrwBx" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MnmzBttnClckdDrwBxBrdr" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MnmzBttnClckdCrclClr" serializeAs="String">
        <value>100, 100, 100</value>
      </setting>
      <setting name="MnmzBttnClckdCrclBrdrClr" serializeAs="String">
        <value>75, 75, 75</value>
      </setting>
      <setting name="MnmzBttnClckdBxClr" serializeAs="String">
        <value>100, 100, 100</value>
      </setting>
      <setting name="MnmzBttnClckdBxBrdrClr" serializeAs="String">
        <value>75, 75, 75</value>
      </setting>
      <setting name="MnmzBttnDsbldDrwCrcl" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MnmzBttnDsbldDrwCrclBrdr" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MnmzBttnDsbldDrwBx" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MnmzBttnDsbldDrwBxBrdr" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MnmzBttnDsbldCrclClr" serializeAs="String">
        <value>100, 100, 100</value>
      </setting>
      <setting name="MnmzBttnDsbldCrclBrdrClr" serializeAs="String">
        <value>75, 75, 75</value>
      </setting>
      <setting name="MnmzBttnDsbldBxClr" serializeAs="String">
        <value>100, 100, 100</value>
      </setting>
      <setting name="MnmzBttnDsbldBxBrdrClr" serializeAs="String">
        <value>75, 75, 75</value>
      </setting>
      <setting name="ClsBrnNrmlCrclBrdrClr" serializeAs="String">
        <value>75, 75, 75</value>
      </setting>
      <setting name="ClsBttnNrmlDrBx" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ClsBttnNrmlDrBxBrdr" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ClsBttnHvrdDrBx" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ClsBttnHvrdDrBxBrdr" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ClsBttnClckdDrBx" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ClsBttnClckdDrBxBrdr" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ClsBttnDsbldDrBx" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ClsBttnDsbldDrBxBrdr" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MxmzBttnNrmlDrBx" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MxmzBttnNrmlDrBxBrdr" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MxmzBttnHvrdDrBx" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MxmzBttnHvrdDrBxBrdr" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MxmzBttnClckdDrBx" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MxmzBttnClckdDrBxBrdr" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MxmzBttnDsbldDrBx" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MxmzBttnDsbldDrBxBrdr" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MnmzBttnNrmlDrBx" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MnmzBttnNrmlDrBxBrdr" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MnmzBttnHvrdDrBx" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MnmzBttnHvrdDrBxBrdr" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MnmzBttnClckdDrBx" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MnmzBttnClckdDrBxBrdr" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MnmzBttnDsbldDrBx" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MnmzBttnDsbldDrBxBrdr" serializeAs="String">
        <value>True</value>
      </setting>
    </OurCSharp.OurForm.Properties.Settings>
  </applicationSettings>
</configuration>